@import "tailwindcss";
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@media screen and (min-width: 768) {
    .dashboard {
    margin-left: 250px;
}
}

body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    color: #3c4858;
}

h1 {
    font-size: 1rem;
    font-weight: 300;
}

